<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda Pacho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Banner Superior -->
    <img src="{{ url_for('static', filename='banner.svg') }}" alt="Banner principal" class="banner">
    <div class="slider">
        <div class="slide-track">
            <img src="https://i.postimg.cc/wBzP2n1W/pexels-kindelmedia-7667739.jpg" alt="Imagen 1">
            <img src="https://i.postimg.cc/CMGrcwyb/pexels-kindelmedia-7667735.jpg" alt="Imagen 2">
            <img src="https://i.postimg.cc/YSBmDBBm/pexels-kindelmedia-7667903.jpg" alt="Imagen 3">
        </div>
    </div>
    

    <h1>Productos Pacho</h1>

    <!-- Formulario para crear/editar -->
    <div id="form-container">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="nombre">
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="number" id="precio">
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea id="descripcion"></textarea>
        </div>
        <button onclick="guardarProducto()">Guardar</button>
        <div id="message"></div>
    </div>

    <!-- Tabla de datos -->
    <h2>Listado de Productos Canabicos</h2>
    <table id="tabla-productos">
        <thead>
            <tr>
                <th>ID</th><th>Nombre</th><th>Precio</th><th>Descripción</th><th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Imagen Inferior -->
    <img src="{{ url_for('static', filename='footer.svg') }}" alt="Imagen inferior" class="footer">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
 